#class-selector {
	height: calc(100vh - 4rem);
	scrollbar-width: none;
}

input:checked ~ .dot {
	transform: translateX(100%);
}

#class-selector::-webkit-scrollbar {
	width: 0px;
}

header,
#class-selector {
	transition: all 0.5s ease-in-out;
}

header {
	transform: translate(0, -100%);
}

header.show {
	transform: translate(0, 0);
}

#class-selector {
	transform: translate(-100%, 0);
}
#class-selector.show {
	transform: translate(0, 0);
}

#loading-panel, #bg-panel, #loading-spinner {
	transition: opacity 1s;
}

#loading-spinner:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: calc(50% - 4.5rem);
	left: calc(50% - 4.5rem);
	width: 9rem;
	height: 9rem;
	border-radius: 50%;
	border: 5px solid #ccc;
	border-top-color: #000;
	animation: spin 2s linear infinite;
}
