#class-selector {
	height: calc(100vh - 4rem);
	scrollbar-width: none;
}

#sem1-class-list,
#sem2-class-list {
	height: calc(100vh - 5.5rem);
	transition: 0.5s all;
}

#sem1-class-list {
	transform: translateX(-100%);
}

#sem1-class-list.show {
	transform: translateX(0);
}

#sem2-class-list {
	transform: translateX(100%);
}

#sem2-class-list.show {
	transform: translateX(0);
}

#sem1-class-list_, #sem2-class-list_ {
	height: calc(100vh - 8rem);
}

input:checked ~ .dot {
	transform: translateX(100%);
}

#class-selector::-webkit-scrollbar {
	width: 0px;
}

header,
#class-selector {
	transition: all 0.5s ease-in-out;
}

header {
	transform: translate(0, -100%);
}

header.show {
	transform: translate(0, 0);
}

.possibilities {
	top: 100vh;
	transition: all 0.5s;
}

#schedule-possibilities1 {
	transform: translate(-100%, -1.5rem);
}

#schedule-possibilities1.show {
	transform: translate(0, -1.5rem);
}

#schedule-possibilities2 {
	transform: translate(100%, -1.5rem);
}

#schedule-possibilities2.show {
	transform: translate(0, -1.5rem);
}

#class-selector {
	transform: translate(-100%, 0);
}
#class-selector.show {
	transform: translate(0, 0);
}

#loading-panel,
#bg-panel,
#loading-spinner {
	transition: opacity 1s;
}

#loading-spinner:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: calc(50% - 4.5rem);
	left: calc(50% - 4.5rem);
	width: 9rem;
	height: 9rem;
	border-radius: 50%;
	border: 5px solid #ccc;
	border-top-color: #000;
	animation: spin 2s linear infinite;
}

@media (min-width: 1024px) {
	.lg\:w-3\/8 {
		width: 37.5%;
	}
	.lg\:left-5\/8 {
		left: 62.5%;
	}
}

@media (min-width: 1280px) {
	.xl\:w-5\/12 {
		width: 41.6666666%;
	}
	.xl\:left-1\/6 {
		left: 16.6666666%;
	}
	.xl\:left-7\/12 {
		left: 58.3333333%;
	}
}

#title-bar > div {
	transition: 0.5s all;
}

#l2.active {
	transform: translateX(-100%);
	opacity: 0;
}

#l1.active {
	transform: translateY(0.5rem) rotate(-45deg);
}

#l3.active {
	transform: translateY(-0.5rem) rotate(45deg);
}

.calendar {
	height: calc(100vh - 1.5rem);
	background: white;
}

.possibilities.active {
	top: calc(8rem + 1px);
}